<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1505275350441-83dcda8eeef5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2167&q=80);">
  <div class="container">
   <h1>Le Wagon Bar</h1>
   <p> Vous pouvez désormais réserver votre table via notre site : </p>
   <iframe src="https://www.atable.live/embeds/new" width="500"
    height="820"></iframe>
  </div>

  </div>

